:root {
    --primary-color: white;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid black;
    margin-bottom: 2px;
    padding: 6px 38px ;
    background-color: rgb(132, 181, 229);
    
}

/*.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}*/

/*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main {
    width: 1330px;
    margin: 0 auto;
}

h1 {
    width: 1330px;
    padding: 16px;
    text-align: center;
    font-family: var(--heading-font);
    text-align: center;
    color: black;


}

/*p, section, article {
    margin: 1px;
    padding: 2px;
}*/

/*nav {
    
    margin: 5px;
    padding: 8px;
    text-align: right;
    
}*/

.socialmedia a {
    
    float: right;
    padding: 1px 1px;
    margin: 10px;
    }
article {
    
    padding: 16px;
    text-align: center;
    bottom: 150px;
    width: auto;
}

/*.hero article img {
    float: right;
    width: 130px;
}*/

iframe {
    display: flex;
    justify-content: flex-start;
    padding: 16px;
    margin-bottom: 32px;
    border: 2px solid black;
}

h2 {
    position: absolute;
    width: 1300px;
    padding: 8px;
    margin-bottom: 30px;
    text-align: center;
    color: black;
}

/*figure {
    display: inline-block;
    margin: 1px;
}*/

section {
    border: 2px solid black;
    margin-bottom: 8px;
    padding: 100px 8px;
    background-color: rgb(231, 234, 237);
    
}

footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid black;
    margin-bottom: 2px;
    padding: 6px 38px ;
    background-color: rgb(132, 181, 229);
}
